/* 공통사항 */
body {
	font-family: 'Merriweather', serif;
	font-size: 14px;
	color: #222;

}

.wrap { max-width: 1100px;
margin:0 auto;}

h2,h3 {font-family: 'Roboto' , 'sans-serif';
 font-weight: 400;
letter-spacing: 5px;
text-align: center;}

h2 {font-size: 34px;
padding: 16px 0;}

h3{font-size: 18px;
padding: 16px 0;}

p {line-height:2;
padding: 10px 0;
letter-spacing: -0.5px;}

section {margin-bottom: 100px;}


/* 헤더 */
header {background-color: white;
padding: 14px;
letter-spacing: 5px;
box-shadow: 0 1px 5px rgba(0,0,0,0.5);
z-index: 10;
position: fixed;
width: 100%;}

header div{padding: 16px ;
cursor: pointer;}

header div:hover {padding: 16px ;
background-color: #cccccc;}

/* about */

.about-wrap{padding: 50px;}
.about-wrap>.wrap>div {width: 48%;}

/* menu */
.menu-wrap h2{ margin-bottom: 20px;}
.menu-wrap h3{text-align: left;}

.menu-wrap li{padding: 10px 0;}


/* contact */
.contact-wrap h2 {text-align: left;
margin-bottom: 30px;}

.contact-wrap h4{padding: 10px 0;}

.contact-wrap input {
padding: 20px 0;
border-style: none;
display: block;
border-bottom: 1px solid #cccccc;
width: 100%;
outline: none;
margin:30px 0;
font-family: 'Merriweather', serif;}

/* footer */
footer{padding: 60px 0;
background-color: #eeeeee;}